.ingredient{
  display: flex;
  margin: 0 5px 5px 0;

  &__input-label{
    margin-right: 10px;
  }

  &__input-value{
    font-size: 14px;
    margin: 0 5px 0 5px;
  }

  &__input-amount{
    width: 30px;
    height: 20px;
  }
}